{% extends "main/base.html" %}
{% block column %}
<div class="column">
<!--<a href="" class="branches"><img src="img/pointerv.png" alt="" width="18" height="11" hspace="5" vspace="3" align="top" border="0"/>Новости</a>
<a href="" class="branches"><img src="img/pointerv.png" alt="" width="18" height="11" hspace="5" vspace="3" align="top" border="0"/>Статьи</a>-->
<a href="" class="branches"><img src="img/pointerv.png" alt="" width="18" height="11" hspace="5" vspace="3" align="top" border="0"/>Сылки</a>
</div>
{% endblock %}